thead{
    background-color: chocolate;
}
tbody{
    background-color: crimson;
}
tfoot{
    background-color: darkmagenta;
}
td,th{
    border:2px solid black;
    text-align: center;
    
}

table{
    border: 10px solid green;
    width: 100%;
    border-collapse: separate;
}
td:nth-child(even){
    background-color: blue;}
td:nth-child(odd){
    background-color: chartreuse;
}
td:hover{
    background-color:white;
}
caption{
    background-color: magenta;
    font-size: 2rem;
}